* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1;
  background: linear-gradient(to right, #ec6ead, #3494e6);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

html {
  font-size: 16px;
}

a, a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logoheader {
  font-weight: 700;
  font-size: 3rem;
  padding: 3% 11%;
  color: aliceblue;
}

.header, .nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav__item {
  padding-right: 28%;
  font-size: 1.2rem;
}

.nav__link {
  color: aliceblue;
  font-weight: 700;
}

.nav .nav__item .nav__link:hover {
  color: rgba(255,255,255,0.5);
  transition: .3s;
}

form {
  background-color: aliceblue;
  text-align: center;
  width: 30%;
  margin: auto;
  padding: 0 3% 2%;
  border-radius: 30px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
} 

.formheader {
  color: #444;
  font-weight: 700;
  padding: 8% 3%;
}