* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1;
  background: linear-gradient(to right, #ec6ead, #3494e6);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

html {
  font-size: 16px;
}

a, a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logoheader {
  font-weight: 700;
  font-size: 3rem;
  padding: 3% 12%;
  color: aliceblue;
}

.header, .nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav__item {
  display: inline-block;
  position: relative;
  padding-right: 22%;
  font-size: 1.2rem;
}

.nav__item:hover .nav-dropdown {
  display: block;
}

.nav-dropdown {
  display: none;
  position: absolute;
}

.nav__link, .nav-dropdown__link {
  color: aliceblue;
  font-weight: 700;
}

.nav__link:hover, .nav-dropdown__link:hover {
  color: rgba(255,255,255,0.5);
  transition: .3s;
}

form {
  background-color: aliceblue;
  text-align: center;
  width: 31%;
  margin: auto;
  padding: 0 3% 2%;
  border-radius: 30px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
} 

.formheader {
  color: #444;
  font-weight: 700;
  padding: 8% 3%;
}

.select_item {
	color: rgba(68, 68, 68, 0.76);
	padding: 2% 3%;
	width: 100%;
  margin: 0 0 5%;
	border: 1px solid rgba(170, 170, 170, 0.623);
	border-radius: 10px;
	background-color: #f9fafc;
}

.select_item:hover {
  cursor: pointer;
}

.select_item:focus {
  box-shadow: 0px 0px 0px .1rem #3f83f8;
}

.datepicker {
  margin: 0 0 5%;
}

fieldset .sub_button {
  color: aliceblue;
	padding: 2% 3%;
	width: 100%;
  margin: 0 0 3%;
	border: 1px solid rgba(170, 170, 170, 0.623);
	border-radius: 10px;
  background-color: #5ba5fa;
}

fieldset .sub_button:hover {
  cursor: pointer;
  transition: .3s;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  color: aliceblue;
  background-color: #0080ff;
}

article {
  background-color: aliceblue;
  width: 50%;
  margin: auto;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 0 3%;
}

.gradient {
  width: 50%;
  margin: auto;
  background: linear-gradient(to right,#4bc0c8, #c779d0, #feac5e);
  padding: .5rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.article_header {
  text-align: center;
  padding: 3% 0;
  font-size: 2rem;
  font-weight: 700;
  color: #444;
}

.article_nav {
  display: flex;
  flex-direction: column;
}

.sub_article_header {
  font-size: 1.5rem;
  text-align: center;
  color: #444;
}

.article_nav, .sub_article_header, .article_image, p {
  padding-bottom: 3%;
}

#totop {
  display: none;
  position: fixed;
  bottom: 3%;
  right: 2%;
  background-color: #444;
  color: aliceblue;
  cursor: pointer;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#totop:hover {
  background-color: #555;
  transition: .3s;
}